{% extends 'base.html.twig' %}

{% block body %}
    <div>
    {% for category in categories %}
        <div>
            <a href="{{ path('category_show', {'id': category.id}) }}">
                {{ category.name }} <span class="fa {{ category.iconKey }}"></span> ({{ category.fortuneCookies|length }})
            </a>
        </div>
    {% endfor %}
    </div>
{% endblock %}
