.navbar-like {
    width: 100%;
    height: 50px;
    background-color: red;
    margin-bottom: 115px;
}

.logo {
    width: 150px;
    height: auto;
    padding-top: 5px;
}

.fortune-header {
    font-size: 1.8em;
}

.btn-margin {
    margin-top: 5px;
}

.header-bkgrnd {
    background-color: #757D75;
    color: #fff;
}

.fortune-black {
    color: #000;
}